body {
  background-color: white;
  color: black;
  font-style: italic;
  margin: 0;
}

header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

main {
  padding: 20px;
}

footer {
  padding: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
}